#Linear regression

##Import Libraries

In [528]:
import numpy as np
import pandas as pd

import datetime
current_time = datetime.datetime.now()

In [529]:
df=pd.read_csv('/content/drive/MyDrive/Internship/Dataset/air_traffic_data.csv')
df

       Activity Period Operating Airline  ...  Year  Month
0               200507      ATA Airlines  ...  2005   July
1               200507      ATA Airlines  ...  2005   July
2               200507      ATA Airlines  ...  2005   July
3               200507       Air Canada   ...  2005   July
4               200507       Air Canada   ...  2005   July
...                ...               ...  ...   ...    ...
15002           201603    Virgin America  ...  2016  March
15003           201603    Virgin America  ...  2016  March
15004           201603    Virgin America  ...  2016  March
15005           201603   Virgin Atlantic  ...  2016  March
15006           201603   Virgin Atlantic  ...  2016  March

[15007 rows x 16 columns]

#Categorical data

In [530]:
df['Terminal'].unique()

array(['Terminal 1', 'International', 'Terminal 3', 'Other', 'Terminal 2'],
      dtype=object)

In [531]:
df.shape

(15007, 16)

##Filtering Operation Airline

In [532]:
count_values= df['Operating Airline'].value_counts() 
count_values_less_than_20 = count_values[count_values<=20]

In [533]:
def extraction(x):
  if x in count_values_less_than_20:
    return False
  else:
    return True

In [534]:
df1=df[df['Operating Airline'].apply(extraction)]

In [535]:
df1['Operating Airline'].value_counts()

United Airlines - Pre 07/01/2013    2154
SkyWest Airlines                     963
United Airlines                      892
Alaska Airlines                      751
Delta Air Lines                      386
                                    ...
Spirit Airlines                       24
Turkish Airlines                      24
Ameriflight                           22
Atlantic Southeast Airlines           22
BelAir Airlines                       22
Name: Operating Airline, Length: 62, dtype: int64

##Filtering Operating Airline IATA Code

In [536]:
count_values_IATA= df1['Operating Airline IATA Code'].value_counts() 
count_values_IATA_less_than_20 = count_values_IATA[count_values_IATA<=20]

In [537]:
def extraction2(x):
  if x in count_values_IATA_less_than_20:
    return False
  else:
    return True

In [538]:
df2=df1[df1['Operating Airline IATA Code'].apply(extraction2)]

In [539]:
df2['Operating Airline IATA Code'].value_counts()

UA     3046
OO      963
AS      751
DL      386
AC      366
VX      362
WN      309
US      304
AA      272
F9      260
NZ      259
JL      259
CA      259
BR      258
BA      258
NH      258
KE      258
PR      258
HA      258
AF      258
LH      258
TA      258
OZ      258
SQ      258
CI      258
KL      258
VS      258
CX      258
SY      250
NW      240
FL      226
B6      222
QX      216
AM      180
EK      180
LX      139
QF      134
MX      124
YV      117
YX      116
MQ      106
WS      103
EI       98
LP       90
CP       88
SK       72
MU       72
TZ       44
XJ       44
AB       36
EY       34
XE       32
CZ       32
SE       31
RW       24
NK       24
TK       24
A8       22
EV       22
Name: Operating Airline IATA Code, dtype: int64

##Filtering Published Airline

In [540]:
count_values_Published_Airline= df2['Published Airline'].value_counts() 
count_values_Published_Airline_less_than_20 = count_values_Published_Airline[count_values_Published_Airline<=20]

In [541]:
def extraction3(x):
  if x in count_values_Published_Airline_less_than_20:
    return False
  else:
    return True

In [542]:
df3=df2[df2['Published Airline'].apply(extraction3)]

In [543]:
df3['Published Airline'].value_counts()

United Airlines - Pre 07/01/2013    2645
United Airlines                     1107
Alaska Airlines                      969
Delta Air Lines                      803
American Airlines                    416
US Airways                           407
Air Canada                           366
Virgin America                       362
Southwest Airlines                   309
Frontier Airlines                    260
Air New Zealand                      259
Air China                            259
Japan Airlines                       259
EVA Airways                          258
Air France                           258
Korean Air Lines                     258
Hawaiian Airlines                    258
China Airlines                       258
Cathay Pacific                       258
Virgin Atlantic                      258
Philippine Airlines                  258
Lufthansa German Airlines            258
KLM Royal Dutch Airlines             258
All Nippon Airways                   258
British Airways                      258
Asiana Airlines                      258
Singapore Airlines                   258
TACA                                 258
Sun Country Airlines                 250
Northwest Airlines                   240
AirTran Airways                      226
JetBlue Airways                      222
Aeromexico                           180
Emirates                             180
Swiss International                  139
Qantas Airways                       134
Mexicana Airlines                    124
Midwest Airlines                     116
WestJet Airlines                     103
Aer Lingus                            98
LAN Peru                              90
China Eastern                         72
SAS Airlines                          72
ATA Airlines                          44
Servisair                             36
Air Berlin                            36
Etihad Airways                        34
China Southern                        32
XL Airways France                     31
Turkish Airlines                      24
Republic Airlines                     24
Spirit Airlines                       24
Ameriflight                           22
Name: Published Airline, dtype: int64

##Filtering Published Airline IATA Code

In [544]:
count_values_Published_Airline_i= df3['Published Airline IATA Code'].value_counts() 
count_values_Published_Airline_i_less_than_20 = count_values_Published_Airline_i[count_values_Published_Airline_i<=20]

In [545]:
def extraction4(x):
  if x in count_values_Published_Airline_i_less_than_20:
    return False
  else:
    return True

In [546]:
df4=df3[df3['Published Airline IATA Code'].apply(extraction4)]

In [547]:
df4['Published Airline IATA Code'].value_counts()

UA     3752
AS      969
DL      803
AA      416
US      407
AC      366
VX      362
WN      309
F9      260
JL      259
NZ      259
CA      259
HA      258
PR      258
BA      258
KE      258
NH      258
AF      258
BR      258
TA      258
LH      258
CX      258
CI      258
KL      258
OZ      258
VS      258
SQ      258
SY      250
NW      240
FL      226
B6      222
AM      180
EK      180
LX      139
QF      134
MX      124
YX      116
WS      103
EI       98
LP       90
MU       72
SK       72
TZ       44
AB       36
EY       34
CZ       32
SE       31
RW       24
NK       24
TK       24
A8       22
Name: Published Airline IATA Code, dtype: int64

In [548]:
df4.isnull().sum()

Activity Period                 0
Operating Airline               0
Operating Airline IATA Code    36
Published Airline               0
Published Airline IATA Code    36
GEO Summary                     0
GEO Region                      0
Activity Type Code              0
Price Category Code             0
Terminal                        0
Boarding Area                   0
Passenger Count                 0
Adjusted Activity Type Code     0
Adjusted Passenger Count        0
Year                            0
Month                           0
dtype: int64

In [549]:
df4.shape

(14844, 16)

In [550]:
df4['Month'].value_counts()

August       1288
October      1278
July         1277
September    1273
January      1258
February     1250
November     1250
December     1247
March        1247
June         1171
May          1164
April        1141
Name: Month, dtype: int64

##Convert Year into Months

In [551]:
df4['Year']=(current_time.year-df4['Year'])*12

In [552]:
def month_converter(month):
    months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    return months.index(month) + 1

In [553]:
df4['Month'] = df4['Month'].apply(month_converter)

##Clculate Total Month

In [554]:
df4['months']=df4['Year'] + df4['Month']

In [555]:
df4

       Activity Period Operating Airline  ... Month months
0               200507      ATA Airlines  ...     7    199
1               200507      ATA Airlines  ...     7    199
2               200507      ATA Airlines  ...     7    199
3               200507       Air Canada   ...     7    199
4               200507       Air Canada   ...     7    199
...                ...               ...  ...   ...    ...
15002           201603    Virgin America  ...     3     63
15003           201603    Virgin America  ...     3     63
15004           201603    Virgin America  ...     3     63
15005           201603   Virgin Atlantic  ...     3     63
15006           201603   Virgin Atlantic  ...     3     63

[14844 rows x 17 columns]

##Drop Null Value

In [556]:
df4= df4.dropna(axis='rows')

In [557]:
df4 = df4.drop(['Year','Month'],axis='columns')

In [558]:
df4

       Activity Period Operating Airline  ... Adjusted Passenger Count months
0               200507      ATA Airlines  ...                    27271    199
1               200507      ATA Airlines  ...                    29131    199
2               200507      ATA Airlines  ...                    10830    199
3               200507       Air Canada   ...                    35156    199
4               200507       Air Canada   ...                    34090    199
...                ...               ...  ...                      ...    ...
15002           201603    Virgin America  ...                   194636     63
15003           201603    Virgin America  ...                     4189     63
15004           201603    Virgin America  ...                     4693     63
15005           201603   Virgin Atlantic  ...                    12313     63
15006           201603   Virgin Atlantic  ...                    10898     63

[14808 rows x 15 columns]

In [559]:
df4.isnull().sum()

Activity Period                0
Operating Airline              0
Operating Airline IATA Code    0
Published Airline              0
Published Airline IATA Code    0
GEO Summary                    0
GEO Region                     0
Activity Type Code             0
Price Category Code            0
Terminal                       0
Boarding Area                  0
Passenger Count                0
Adjusted Activity Type Code    0
Adjusted Passenger Count       0
months                         0
dtype: int64

##Convert Categorical Data Numeric

In [560]:
d_Ap = pd.get_dummies(df4['Activity Period'])
d_Oa = pd.get_dummies(df4['Operating Airline'])
d_Opi = pd.get_dummies(df4['Operating Airline IATA Code'])
d_Pa = pd.get_dummies(df4['Published Airline'])
d_Pai = pd.get_dummies(df4['Published Airline IATA Code'])
d_Gs = pd.get_dummies(df4['GEO Summary'])
d_Gr = pd.get_dummies(df4['GEO Region'])
d_atc = pd.get_dummies(df4['Activity Type Code'])
d_pc = pd.get_dummies(df4['Price Category Code'])
d_tr = pd.get_dummies(df4['Terminal'])
d_ba = pd.get_dummies(df4['Boarding Area'])
d_aatc = pd.get_dummies(df4['Adjusted Activity Type Code'])

##Concatinate all the dummies with dataset and remove Unnecessary Columns

In [561]:
df5 = pd.concat((df4,d_Ap,d_Oa,d_Opi,d_Pa,d_Pai,d_Gs,d_Gr,d_atc,d_pc,d_tr,d_ba,d_aatc),axis='columns')

In [562]:
df6 = df5.drop(['Activity Period','Operating Airline','Operating Airline IATA Code','Published Airline','Published Airline IATA Code','GEO Summary','GEO Region','Activity Type Code','Price Category Code','Terminal','Boarding Area','Adjusted Activity Type Code'],axis='columns')

In [563]:
df6.shape

(14808, 386)

In [564]:
df6.head()

   Passenger Count  Adjusted Passenger Count  ...  Enplaned  Thru / Transit * 2
0            27271                     27271  ...         0                   0
1            29131                     29131  ...         1                   0
2             5415                     10830  ...         0                   1
3            35156                     35156  ...         0                   0
4            34090                     34090  ...         1                   0

[5 rows x 386 columns]

In [565]:
df6.shape

(14808, 386)

In [566]:
X=df6.drop('Adjusted Passenger Count',axis='columns')
Y=df6.iloc[:,1:2].values

In [567]:
X

       Passenger Count  months  200507  ...  Deplaned  Enplaned  Thru / Transit * 2
0                27271     199       1  ...         1         0                   0
1                29131     199       1  ...         0         1                   0
2                 5415     199       1  ...         0         0                   1
3                35156     199       1  ...         1         0                   0
4                34090     199       1  ...         0         1                   0
...                ...     ...     ...  ...       ...       ...                 ...
15002           194636      63       0  ...         0         1                   0
15003             4189      63       0  ...         1         0                   0
15004             4693      63       0  ...         0         1                   0
15005            12313      63       0  ...         1         0                   0
15006            10898      63       0  ...         0         1                   0

[14808 rows x 385 columns]

In [568]:
Y

array([[27271],
       [29131],
       [10830],
       ...,
       [ 4693],
       [12313],
       [10898]], dtype=int64)

##Split Data

In [569]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y)

In [570]:
xtrain.columns

Index([   'Passenger Count',             'months',               200507,
                     200508,               200509,               200510,
                     200511,               200512,               200601,
                     200602,
       ...
                        'B',                  'C',                  'D',
                        'E',                  'F',                  'G',
                    'Other',           'Deplaned',           'Enplaned',
       'Thru / Transit * 2'],
      dtype='object', length=385)

##Apply Model

In [571]:
from sklearn.linear_model import LinearRegression
lmodel = LinearRegression()

In [572]:
lmodel.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

##Error

In [573]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(ytrain,lmodel.predict(xtrain)))
print(mean_absolute_error(ytest,lmodel.predict(xtest)))

188.96971174464204
199.37494968706616

##Score

In [574]:
print(lmodel.score(xtrain,ytrain))
print(lmodel.score(xtest,ytest))

0.9999263952136714
0.9999394204210831

In [575]:
y_pred=lmodel.predict(xtrain)

In [576]:
print(ytrain-y_pred)

[[ -24.36896933]
 [  -0.60517859]
 [-126.94951147]
 ...
 [  79.29818231]
 [   1.57187837]
 [  69.3794507 ]]

In [577]:
len(xtrain.columns)

385

In [578]:
input = np.zeros(len(xtrain.columns))

In [579]:
(22000,201603,'SkyWest Airlines','OO','United Airlines','UA','International','Canada','Enplaned','Other','Terminal 3','F','Enplaned',2016,'July')

(22000,
 201603,
 'SkyWest Airlines',
 'OO',
 'United Airlines',
 'UA',
 'International',
 'Canada',
 'Enplaned',
 'Other',
 'Terminal 3',
 'F',
 'Enplaned',
 2016,
 'July')

In [580]:
    Passenger_Count = 22000
    activity_period = 201603
    operating_airline = 'SkyWest Airlines'
    operating_Airline_IATA_Code='OO'
    published_airline='United Airlines'
    Published_Airline_IATA_Code='UA'
    GEO_Summary='International'
    GEO_Region='Canada'
    Activity_Type_Code='Enplaned'
    Price_Category_Code='Other'
    Terminal='Terminal 3'
    Boarding_Area='F'
    Adjusted_Activity_Type_Code='Enplaned'
    year=2016
    month='July'
    Total_months =(current_time.year-year)*12 + month_converter(month)
    
    input[0]=Passenger_Count
    input[1]=Total_months
    ida=np.where(xtrain.columns == activity_period)[0][0]
    idb=np.where(xtrain.columns == operating_airline)[0][0]
    idc=np.where(xtrain.columns == operating_Airline_IATA_Code)[0][0]
    idd=np.where(xtrain.columns == published_airline)[0][0]
    ide=np.where(xtrain.columns == Published_Airline_IATA_Code)[0][0]
    idf=np.where(xtrain.columns == GEO_Summary)[0][0] 
    idg=np.where(xtrain.columns == GEO_Region)[0][0]
    idh=np.where(xtrain.columns == Activity_Type_Code)[0][0] 
    idi=np.where(xtrain.columns == Price_Category_Code)[0][0]
    idj=np.where(xtrain.columns == Terminal)[0][0]
    idk=np.where(xtrain.columns == Boarding_Area)[0][0] 
    idl=np.where(xtrain.columns == Adjusted_Activity_Type_Code)[0][0] 
    #idm=np.where(xtrain.columns == months)
    
    input[ida]=1
    input[idb]=1
    input[idc]=1
    input[idd]=1
    input[ide]=1
    input[idf]=1
    input[idg]=1
    input[idh]=1
    input[idi]=1
    input[idj]=1
    input[idk]=1
    input[idl]=1
    #input[idm]=1


    print(lmodel.predict([input])[0][0])

22397.418858051384

In [581]:
df6

       Passenger Count  Adjusted Passenger Count  ...  Enplaned  Thru / Transit * 2
0                27271                     27271  ...         0                   0
1                29131                     29131  ...         1                   0
2                 5415                     10830  ...         0                   1
3                35156                     35156  ...         0                   0
4                34090                     34090  ...         1                   0
...                ...                       ...  ...       ...                 ...
15002           194636                    194636  ...         1                   0
15003             4189                      4189  ...         0                   0
15004             4693                      4693  ...         1                   0
15005            12313                     12313  ...         0                   0
15006            10898                     10898  ...         1                   0

[14808 rows x 386 columns]

In [582]:
def predict_passanger(Passenger_Count,activity_period,operating_airline,operating_Airline_IATA_Code,published_airline,Published_Airline_IATA_Code,GEO_Summary,GEO_Region,Activity_Type_Code,Price_Category_Code,Terminal,Boarding_Area,Adjusted_Activity_Type_Code,year,month):
  Total_months =(current_time.year-year)*12 + month_converter(month)
  input[0]=Passenger_Count
  input[1]=Total_months
  ida=np.where(xtrain.columns == activity_period)[0][0]
  idb=np.where(xtrain.columns == operating_airline)[0][0]
  idc=np.where(xtrain.columns == operating_Airline_IATA_Code)[0][0]
  idd=np.where(xtrain.columns == published_airline)[0][0]
  ide=np.where(xtrain.columns == Published_Airline_IATA_Code)[0][0] 
  idf=np.where(xtrain.columns == GEO_Summary)[0][0] 
  idg=np.where(xtrain.columns == GEO_Region)[0][0] 
  idh=np.where(xtrain.columns == Activity_Type_Code)[0][0] 
  idi=np.where(xtrain.columns == Price_Category_Code)[0][0] 
  idj=np.where(xtrain.columns == Terminal)[0][0] 
  idk=np.where(xtrain.columns == Boarding_Area)[0][0] 
  idl=np.where(xtrain.columns == Adjusted_Activity_Type_Code)[0][0]   

  input[ida]=1
  input[idb]=1
  input[idc]=1
  input[idd]=1
  input[ide]=1
  input[idf]=1
  input[idg]=1
  input[idh]=1
  input[idi]=1
  input[idj]=1
  input[idk]=1
  input[idl]=1

  return lmodel.predict([input])[0][0]

In [583]:
input

array([2.2e+04, 6.7e+01, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00,
       1.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00,
       0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00, 0.0e+00])

In [584]:
import pickle

with open('Predict_Adjusted_Passenger_count.pickle','wb') as f:
  pickle.dump(lmodel,f)

In [585]:
import json
columns = {'Data_columns' : [col for col in xtrain.columns]}

with open('air_traffic_columns.json','w') as f:
  f.write(json.dumps(columns))